@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


h1 {
  margin: 0;
}

main {
  font-family: 'Quicksand', sans-serif;
  height: 75vh;
  
  background-image: linear-gradient(to bottom, rgba(206, 206, 206, 0.7), rgba(255, 255, 255, 0.8)),url("../images/background.jpg");
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px
}

form label, form input {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  margin-bottom: 5px;
}

form button {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
}



body {
  /* font-family: "Quicksand", serif; */
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;
}

head {
  overflow: hidden;
}


/* NAVBAR NAVBAR NAVBAR */

.menu {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  /* flex-direction: row; */
}

.logo img {
  /* max-width: fit-content; */
  height: 70px;
  padding: 0;
  margin: 0;
}

.logo {
  transition: flex-grow 1s ease-in-out,
    margin 1s ease-in-out;
  flex-grow: 1;

}


/* Add a black background color to the top navigation */
.topnav {
  font-family: "Quicksand", serif;
  background-color: #EDE3DA;
  overflow: hidden;
  display: flex;
  height: 70px;

}

/* Style the links inside the navigation bar */
.topnav .menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .menu a:hover {
  color: black;
  border-radius: 4px;
  background-color: #EDE3DA;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 2s ease;
}

.topnav .menu a:not(:hover) {
  transition: opacity 0.5s;
}

/* Add an active class to highlight the current page */
.topnav .menu a.active {
  background-color: #E2CEBC;
  border-radius: 4px;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* @MEDIA QUERIES */



@media screen and (max-width: 960px) {
  .logo {
    overflow: hidden;
    flex-grow: 0.0001;
    width: 0;
    min-width: 0;
  }

  .topnav {
    flex-direction: row;
    justify-content: space-between;
  }

  .topnav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}



@media screen and (max-width: 959px) {
  .logo {
    display: none;
  }

  .topnav {
    flex-direction: column;
    justify-content: space-between;

  }
}


@media screen and (max-width: 692px) {
  .topnav .menu a {
    /* exit page left */
    transform: translateX(-100%);
    opacity: 0;
  }

  .topnav .menu a.icon {
    opacity: 0;
    transform: translateX(10%);
    transition: transform 1s ease-in-out;
    display: block;
  }
}

@media screen and (max-width: 682px) {
  .topnav .menu a {
    display: none;
  }

  .topnav .menu {
    justify-content: flex-start;
  }

  .topnav .menu a.icon {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
}

/* NAVBAR DONE */

/* FOOTER FOOTER FOOTER */

.footerContent {
  position: fixed;
  bottom: 0;
  background-color: #EDE3DA;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.footerContent img {
  height: 70px;
}



/* FOOTER DONE */


/* MAIN MAIN MAIN */

.mainContent {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.backgroundImage {

  filter: blur(10px);
  scale: 1.3;
  width: 100%;
  overflow: hidden;
}

.frontText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", serif;
  font-size: 50px;
  font-weight: 700;
  z-index: 1;
}



/* MAIN DONE */