html {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20% 0 20%;
  width: 60%;
  line-height: 28px;
  align-content: center;
}

footer {
  width: 100%;
  height: 50px;
}

article {
  width: 100%;
}

#nav_img {
  width: 80%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

img.bilder {
  width: 100%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

figure figcaption {
  text-align: center;
}

table,
th,
td {
  border: 1px solid;
}

table {
  margin-bottom: 50px;
}

img {
  max-width: 80%;
}