@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



/* ----------------------------START NY CSS------------------------------- */
:root{
  font-family: 'Quicksand', sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


.navbar {
  max-height: 69px;
  background: blue;
}

.main {
  background: orange;
  flex:1; 
}

.footer {
  /*
  height: 100px;
  */
  background: yellow;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: pink;
  display:flex;
  flex-direction: column;
  height:100%;
}

/* --------CSS FOR NAVBAR-------- */
.topnav {
  /* font-family: "Quicksand", serif; */
  background-color: #EDE3DA;
  display: flex;
}


/* Style the links inside the navigation bar */
.topnav .menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .menu a:hover {
  color: black;
  border-radius: 4px;
  background-color: #EDE3DA;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 2s ease;
}

.topnav .menu a:not(:hover) {
  transition: opacity 0.5s;
}

/* Add an active class to highlight the current page */
.topnav .menu a.active {
  background-color: #E2CEBC;
  border-radius: 4px;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.aboutBox{
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 7%;
  gap: 50px;
}

.personalInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.personalInfo img{
  width: 26rem;
}

.personalInfo h1{
  margin-left: 35%;
}


#dropdown{
  display: none;
  position: relative;
  margin-right: 70%;
  flex-direction: column;
  background-color: #EDE3DA;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;

}

#dropdown a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}


@media screen and (max-width: 960px) {
  .logo {
    overflow: hidden;
    flex-grow: 0.0001;
    width: 0;
    min-width: 0;
  }

  .topnav {
    flex-direction: row;
    justify-content: space-between;
  }

  .topnav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .personalInfo{
    flex-direction: column;
  }

  .personalInfo:nth-child(2){
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 959px) {
  .logo {
    display: none;
  }

  .topnav {
    flex-direction: column;
    justify-content: space-between;
  }
  #dropdown{
    display: none;
  }
}

@media screen and (max-width: 692px) {
  .topnav .menu a {
    /* exit page left */
    transform: translateX(-100%);
    opacity: 0;
  }

  .topnav .menu a.icon {
    opacity: 0;
    transform: translateX(10%);
    transition: transform 1s ease-in-out;
    display: block;
  }



}

@media screen and (max-width: 682px) {
  .topnav .menu a {
    display: none;
  }

  .topnav .menu {
    justify-content: flex-start;
  }

  .topnav .menu a.icon {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }

  .navbar #dropdown{
    display: none;
  }
}

.menu {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  /* flex-direction: row; */
}

.logo img {
  /* max-width: fit-content; */
  height: 70px;
  padding: 0;
  margin: 0;
}

.logo {
  transition: flex-grow 1s ease-in-out,
    margin 1s ease-in-out;
  flex-grow: 1;

}


/* --------CSS FOR FOOTER-------- */

.footerContent {
  overflow: hidden;
  max-height: 100px;
  background-color: #EDE3DA;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  padding: 10px;
}

.footerContent img {
  height: 50px;
}

/* --------CSS FOR GALLERY-------- */

.galleryWrapper {
  /* font-family: 'Quicksand', sans-serif; */
  background-image: linear-gradient(to bottom, rgba(206, 206, 206, 0.7), rgba(255, 255, 255, 0.8)),url("../images/background.jpg");
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: contain;
  /*
  z-index: 3;
  */
}
.image-card{
  border: 2px solid ;
  max-width: 50%; 
  max-height: 50%;
  margin: 10px;
  padding: 4px;
}
.image-card img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

/* --------CSS FOR RESERVATIONS-------- */
.reservationsWrapper {
  /* font-family: 'Quicksand', sans-serif; */
  background-image: linear-gradient(to bottom, rgba(206, 206, 206, 0.7), rgba(255, 255, 255, 0.8)),url("../images/background.jpg");
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

form label, form input {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  margin-bottom: 5px;
}

form button {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
} 


/* --------CSS FOR HOME-------- */
.homeWrapper {
  background-image: linear-gradient(to bottom, rgba(206, 206, 206, 0.7), rgba(255, 255, 255, 0.8)),url("../images/background.jpg");
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  background-position: center;
  height:100%;
}

h1 {
  margin: 0;
} 

/* -------------------------------SLUTT NY CSS----------------------------------- */


.backgroundImage {

  filter: blur(10px);
  scale: 1.3;
  width: 100%;
  overflow: hidden;
}

.frontText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: "Quicksand", serif; */
  font-size: 50px;
  font-weight: 700;
  z-index: 1;
}

